ul{
  list-style: none;
  font-size: 18px;
  padding: 20px 20px 20px 20px;

}

/* Removing the underline form links  */
a:link {
    text-decoration: none;
}

ul li {
  background-color: #CFCFCF;
  float: left;
  font-family: Georgia;
  font-style: italic;
  padding-left: 0px;
  padding-right: 20px;
  margin-left: 2px;
  line-height: 37px;
  border-bottom: solid #6d6d6d;
}

ul li a {
  color: black;
  margin-left: 2px;
  margin-right: 20px;
  padding-left: 20px;
}

ul li ul{
  display: none;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
}

ul li ul li {
  background-color: white;
  font-size:px; 
  float:none;
  padding-left:0px;
  padding-top:5px;
  padding-bottom:5px;
}

ul li:hover{
  color: gray;
  background-color: white;
  border-style:solid;
  border-bottom: 0px;
}

ul li:hover > a{
  color: gray;
}

ul li:hover > ul{
  display:inline-block;
  position: absolute;
  width: 200px;
}

ul > li:hover > ul{
  display: inline-block;
}

ul > li:hover > ul > li{
  border-style: none;
  border-bottom: solid #cfcfcf;
}

ul > li:hover > ul > li:nth-last-child(1) {
  border-bottom: none;
}

ul li:hover > ul li a:hover{
  color:#bd0707;
}
